<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="EquipMapper">


    <select id="selectEquips" resultMap="myEquips">
        select id,
               user_id,
               equip_name,
               protocol,
               category,
               description,
               creat_at,
               updated_at
        from equip
        where user_id = #{user_id}
        limit ${offset},#{limit}
    </select>
    <select id="count" resultType="int">
        select count(id)
        from equip
        where user_id = #{user_id}

    </select>
    <select id="selectEquipById" parameterType="integer" resultMap="myEquips">
        select *
        from equip
        where id = #{eid}
    </select>
    <delete id="deleteEquip" parameterType="list">
        delete from equip where id in
        <foreach collection="list" item="id" open="(" close=")" separator=",">
            #{id}
        </foreach>
    </delete>

    <insert id="insertEquip" parameterType="Equip" useGeneratedKeys="true" keyColumn="id" keyProperty="EId">
        insert into equip(id, equip_name, protocol, user_id, category, description, creat_at, updated_at)
        values (#{EId}, #{EName}, #{protocol}, #{userId}, #{category}, #{description}, Now(), Now())
    </insert>

    <update id="updateEquip" parameterType="Equip">
        update equip
        set equip_name  = #{EName},
            category    = #{category},
            protocol    = #{protocol},
            description = #{description},
            updated_at  = now()
        where id = #{EId}
    </update>

    <resultMap id="myEquips" type="Equip">
        <id column="id" property="EId"/>
        <result column="user_id" property="userId"/>
        <result column="equip_name" property="EName"/>
        <result column="protocol" property="protocol"/>
        <result column="category" property="category"/>
        <result column="description" property="description"/>
        <result column="creat_at" property="creatAt"/>
        <result column="updated_at" property="updateAt"/>
    </resultMap>


</mapper>