<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="myMapper">


    <select id="getUserByUsername" resultMap="myUser" parameterType="String">
        select *
        from user
        where username = #{username}
    </select>
    <select id="getUserByTel" resultMap="myUser" parameterType="String">
        select *
        from user
        where tel = #{tel}
    </select>
    <insert id="insertUserInfo" parameterType="User" useGeneratedKeys="true" keyProperty="id" keyColumn="id">
        INSERT INTO user(username, encrypted_password, tel, mail)
        VALUES (#{username}, #{encryptedpassword}, #{tel}, #{mail})
    </insert>

    <update id="updateUserInfo" parameterType="User" useGeneratedKeys="true" keyProperty="id" keyColumn="id">
        update user
        set tel         = #{tel},
            mail        = #{mail},
            IpAddress   = #{IpAddress},
            HomeAddress = #{HomeAddress}
        where id = #{id}

    </update>
    <resultMap id="myUser" type="User">
        <id column="id" property="id"/>
        <result column="tel" property="tel"/>
        <result column="username" property="username"/>
        <result column="encrypted_password" property="encryptedpassword"/>
        <result column="mail" property="mail"/>
        <result column="userType" property="userType"/>
        <result column="IpAddress" property="IpAddress"/>
        <result column="HomeAddress" property="HomeAddress"/>
    </resultMap>


</mapper>