<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="myMapper">


    <select id="selectAllData" resultMap="myWeather">
        select id,
               city,
               save_time as saveTime,
               pm2_5     as PM2_5,
               pm10      as PM10,
               no2       as NO2,
               o3        as O3
        from airdata
    </select>
    <select id="getUserByUsername" resultMap="myUser" parameterType="String">
        select *
        from user
        where username = #{username}
    </select>
    <select id="getUserByTel" resultMap="myUser" parameterType="String">
        select *
        from user
        where tel = #{tel}
    </select>
    <insert id="insertUserInfo" parameterType="User" useGeneratedKeys="true" keyProperty="id" keyColumn="id">
        INSERT INTO user(username, encrypted_password, tel, mail)
        VALUES (#{username}, #{encryptedpassword}, #{tel}, #{mail})
    </insert>
    <resultMap id="myUser" type="User">
        <id column="id" property="id"/>
        <result column="tel" property="tel"/>
        <result column="username" property="username"/>
        <result column="encrypted_password" property="encryptedpassword"/>
        <result column="mail" property="mail"/>
    </resultMap>
    <resultMap type="weather" id="myWeather">
        <id column="id" property="id"/>
        <result column="city" property="city"/>
        <result column="saveTime" property="saveTime"/>
        <association property="airData" javaType="com.myProject.entity.airData">
            <result column="PM2_5" property="PM2_5"/>
            <result column="PM10" property="PM10"/>
            <result column="NO2" property="NO2"/>
            <result column="O3" property="O3"/>
        </association>
    </resultMap>


</mapper>